# Don't save exact versions
save-exact=false

# Don't create package-lock.json
package-lock=false

# Cache location
cache=.npm

# Don't generate a package-lock.json file
package-lock=false

# Clean install
clean-install=true 